body{
    background: white;
    margin: 0;
}

.container{
    width: 1024px;
    margin: 0 auto;
}

.logo{
    float: left;
    width: 10%;

}

 img {
    display: block;
    width: 100%;
}

.menu{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}
.menu a {
    font-size: 20px;
}
.menu li{
    display: inline-block;
    font-size: 20px;
    

}

.menu li a {
    color: #000;
    margin-left: 20px;
    padding: 20px 0;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}

.menu li a:hover{
    color: rgb(0, 255, 136);
}

#featured-post{

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 80px;
}

#featured-post .wrapper{
    width: 500px;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


#featured-post .wrapper  a.category{
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 12px;
}

#featured-post .wrapper h2{
    font-size: 48px;
    letter-spacing: 2px;
    margin: 10;
}

a.button{
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
    font-size: 12px;
    letter-spacing: 1px;
    border: 1px solid #FFF;
    padding: 10px 15px;
    margin-top: 20px;
    display: inline-block;

}

#content{
   
    width: 70%;
    float: left;
}
h1 {
    font-size: 70px;
}

#slidebar{
   
    width: 30%;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

#slidebar h3 {
    margin-left: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

#slidebar li{
    list-style: none;
   font-size: 20px;
    
}

#slidebar li a{
    color: rgb(15, 164, 184);
        margin-left: 200px;
        padding:50px 0;
        display: block;
        text-decoration: none;
        text-transform: uppercase;
}

#slidebar li a:hover{
    color: purple;
}

.clearfix{
    clear: both;
}

.list-article{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 20px;
    margin-top: 20px
}

.list-article  a.category {
    color: brown;
    margin-top: 20px;
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
}

.list-article a.button{
    color: rgb(0, 38, 255);
    border-color: rgb(177, 28, 236);
}

.list-article .author {
    margin-top: 50px;
}

.list-article .author .image-wrapper{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: red;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
h2{
    font-size: 1.2rem;
    color: black;
    letter-spacing: 2px;
    column-span: all;
    break-before: column;
    }
 h4,b{
    color: red;
    }
 p {
    line-height: 1.5;
    }	
 article{
    column-width: 200px;
    gap: 10px;
  }
  #content img {
      width: 700px;
  }
 #sidebar {
     float: left;
     margin: 50;
  }
  #sidebar a{
      text-decoration: none;
      list-style: none;
      font-size: 25px;
      padding: 10px;
  }
  #sidebar li {
      list-style: none;
      padding: 15px;
  }
  #sidebar a:hover {
      color: aqua;
  }
  #sidebar a:active {
      color: red;
  }
.container #content {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}